<div class="container">
  <div class="back-arrow" (click)="goBack()">←</div>
  <div class="post-container">
    <div *ngIf="post" class="post-detail">
      <h1>{{ post.title }}</h1>
      <div class="author">
        <p class="meta">Publié le {{ post.createdAt | date : "short" }}</p>
        <p class="meta">par {{ post.userName }}</p>
        <p class="meta">thème: {{ post.subjectName }}</p>
      </div>
      <p class="content">{{ post.content }}</p>
    </div>
  </div>
  <hr class="separator" />

  <div class="comment-section">
    <h2>Commentaires</h2>

    <div *ngFor="let comment of comments" class="comments-container">
      <div class="comment-author">{{ comment.userName }}</div>
      <div class="card">{{ comment.content }}</div>
    </div>

    <div class="comment-input">
      <input
        type="text"
        placeholder="Écrivez ici votre commentaire"
        [(ngModel)]="newComment"
      />
      <button class="send-btn" (click)="sendComment()">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
