<div class="me-container">
  <div class="cards">
    <h1>Profil utilisateur</h1>

    <div class="card-content">
      <form [formGroup]="form" (ngSubmit)="updateUser()" class="form">
        <label class="form-group">
          <span class="label">Nom</span>
          <input type="text" formControlName="name" class="form-field" />
        </label>

        <label class="form-group">
          <span class="label">Email</span>
          <input type="email" formControlName="email" class="form-field" />
        </label>

        <label class="form-group">
          <span class="label">Nouveau mot de passe</span>
          <input
            type="password"
            formControlName="password"
            class="form-field"
          />
        </label>

        <div class="btn-container">
          <button type="submit" class="btn btn-small" [disabled]="form.invalid">
            Sauvegarder
          </button>
        </div>
      </form>

      <hr class="separator" />

      <div class="themes-section">
        <h2>Mes abonnements</h2>

        <div class="cards-container">
          <div class="card" *ngFor="let theme of subscribedThemes">
            <h3 class="title">{{ theme.name }}</h3>
            <p class="description">{{ theme.description }}</p>
            <div class="btn-container">
              <button
                mat-raised-button
                class="btn btn-small"
                (click)="unsubscribe(theme.id)"
              >
                Se désabonner
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
